@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@600;700&family=Montserrat:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* =========================
     Montserrat - Navbar
  ========================= */

  .font-montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-weight: 540;
  }
  .hero-gradient {
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #f3f3f0 5%,
    #dfe1dc 100%
  );
}

  .font-montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  /* =========================
     Lora - Hero Headings
  ========================= */

  .font-lora-semibold {
    font-family: "Lora", serif;
    font-weight: 700;
  }

  .font-lora-bold {
    font-family: "Lora", serif;
    font-weight: 800;
  }

  /* =========================
     Inter - Hero Body
  ========================= */

  .font-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .font-inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .font-inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
}